body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #1b1b1b;
  height: 100%;
  /* min-height: 100vh; */
  /* max-height: 100vh; */
  display: flex;
}

.main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin: 0px auto;
  padding: 0;
  min-height: 100dvh;
  /* max-height: 100vh; */
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .main-container {
    min-width: 100vw;
    margin: 0;
  }

  .left-container {
    min-width: 100vw;
    /* min-width: 300px; */
    max-height: 30vh;
  }

  .right-container {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
  }
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.left-container {
  width: 35%;
  flex-shrink: 5;
}

.class1 {
  background-color: whitesmoke;
  height: 40%;
  width: 100%;
}

.class2 {
  background-color: white;
  height: 35%;
  width: 100%;
  box-shadow: 1px 8px 18px -18px #222;
  z-index: 2;
  flex-grow: 2;
}

.class3 {
  background-color: whitesmoke;
  height: 35%;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

section {
  padding: 2rem;
}

p {
  text-wrap: wrap;
  font-size: clamp(1.5rem, 1.3vw, 3rem);
  width: clamp(25ch, 70%, 75ch);
  font-weight: bold;
}

.class1 .main-text {
  margin-top: 10%;
}

.form-element {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 40%;
  padding: 2px;
}

.form-element input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  min-width: 40%;
  padding: 7px;
  font-size: 14px;
}

.form-element label {
  margin-bottom: 2px;
  text-transform: uppercase;
}

form {
  display: flex;
  flex-wrap: wrap;
}